
<div class="coreui-notice animated fadeIn" id="coreui-notice-<%= id %>">
    <div class="coreui-notice-wrapper <%= typeClasses %>"<% if (styles) { %>style="<%= styles %>"<% } %>>
        <% if (icon) { %>
        <div class="coreui-notice-icon">
            <i class="<%= icon %>"></i>
        </div>
        <% } %>

        <span class="coreui-notice-message"><%= message %></span>

        <% if (buttons.length > 0) { %>
        <div class="coreui-notice-buttons">
            <% $.each(buttons, function(key, button) { %>
            <button type="button" class="coreui-notice-btn btn-notice-<%= button.id %>"><%= button.text %></button>
            <% }); %>
        </div>
        <% } %>

        <% if (showClose) { %>
        <div class="coreui-notice-cancel">
            <div class="coreui-notice-cancel-icon">×</div>
        </div>
        <% } %>
    </div>
</div>